.navbar{
    background-color: rgba(22, 22, 22, 0.884) !important;
}
.nav-item a{
    color: white !important;
    font-weight: bold !important;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-item:hover{
    background-color: rgb(30, 187, 121);
    border-radius: 5px;
}
.avatar{
    border-radius: 50%;
    margin-right: 10px;
    height: 45px;
    width: 45px;
}
.post-title {
    text-decoration-line: none !important;
}
.blog-footer{
    background-color: rgba(22, 22, 22, 0.884) !important;
    height: 100px;
}